.contenedor__login-registar1
{
  max-width: 380px;
  position: absolute;
  top: 80px;
  left: 300px;

}

.contenedor__login-registar1 form input
{
  width: 150%;
  padding: 17px;
  border: none;
  background: rgba(223, 219, 219, 0.788);
  outline: none;

}
