<div class="contenedor__todo">
  <div class="caja__trasera">

    <div class="caja__trasera-register">
      <h3>¿Aun no tienes una cuenta?</h3>
      <p>Registrarse pra iniciar sesion</p>
      <button [routerLink]="'/signup'">Registrarse</button>
    </div>
  </div>

  <div class="contenedor__login-registar">

    <form [formGroup]="form" class="formulario__login">
      <h2>iniciar sesion</h2>
      <input matInput type="email"  formControlName="email" placeholder="correo electronico">
      <input matInput type="password" formControlName="password" placeholder="contraseña">
      <button (click)="login()">Entrar</button>
    </form>


  </div>

</div>
