
<div class="contenedor__login-registar6" id="contenedor6">

  <h3>INGRESA EL SEGUIMIENTOS A CONDICIONES DE SALUD</h3>
  <br/>

  <form action="" class="formulario__login6">
    <select class="" name="">
      <option value="">NOMBRE DE LA PERSONA</option></select>
      <button style="margin-left: 180px" mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>add</mat-icon>
      </button>
    <br/> <br/>

    <input type="text" placeholder="Caso 1">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>delete</mat-icon>
    </button>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>edit</mat-icon>
    </button>
    <br/> <br/>
    <input type="text" placeholder="Caso 2">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>edit</mat-icon>
    </button>
    <br/> <br/>
    <input type="text" placeholder="Caso 3">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>edit</mat-icon>
    </button>
    <br/> <br/>
  </form>


</div>
