<div class="contenedor__login-registar2" id="contenedor2">

  <h3>INGRESA TUS EXAMENES MEDICOS</h3>
  <br/>
  <form action="" class="formulario__login2">
    <select class="" name="">
      <option value="">NOMBRE DE LA PERSONA</option></select>
    <br/> <br/>
    <div class="mb-3">
      <label for="formFile" class="form-label">Default file input example</label>
      <input class="form-control" type="file" id="formFile">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Escribe alguna descripcion adiccional</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button mat-raised-button color="primary">Registrar</button>
  </form>


</div>
