
.contenedor__login-registar2{
  max-width: 380px;
  position: absolute;
  top: 80px;
  left: 300px;
}
textarea{
  width: 100%;
}


.contenedor__login-registar2 form input{
  width: 100%;
  padding: 17px;
  border: none;
  background: rgba(223, 219, 219, 0.788);
  outline: none;

}
