<div class="contenedor__login-registar4" id="contenedor4">

  <h3>INGRESA INDICADORES DE SALUD</h3>
  <br/>

  <form action="" class="formulario__login4">
    <select class="" name="">
      <option value="">NOMBRE DE LA PERSONA</option></select>
    <br/> <br/>
    <input type="text" placeholder="Indicador 1">
    <br/> <br/>
    <input type="text" placeholder="Indicador 2">
    <br/> <br/>
    <input type="text" placeholder="Indicador 3">
    <br/> <br/>
    <button mat-raised-button color="primary">Registrar</button>
  </form>


</div>
