<div class="contenedor__login-registar5" id="contenedor5">

  <h3>INGRESA CONTROL CON MEDICOS</h3>
  <br/>


  <form action="" class="formulario__login5">
    <select class="" name="">
      <option value="">NOMBRE DE LA PERSONA</option>
    </select>
    <br/> <br/>
    <select class="" name="">
      <option value="">Medico asignado</option>
      <option>Medico 1</option>
      <option>Medico 2</option>
      <option>Medico 3</option>
      <option>Medico 4</option>
    </select>
    <br/> <br/>
    <input type="text" placeholder="Control 1">
    <br/> <br/>
    <input type="text" placeholder="Control 2">
    <br/> <br/>
    <input type="text" placeholder="Control 3">
    <br/> <br/>
    <button mat-raised-button color="primary">Registrar</button>
  </form>


</div>

